<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAmB-oWc2V-ZqQUODzxc6-OxikLPoYIPw</string>
	<key>GCM_SENDER_ID</key>
	<string>335581703699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asaadsharaby.pcRecommendation</string>
	<key>PROJECT_ID</key>
	<string>pc-recommendation</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-recommendation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335581703699:ios:5ec96aa4bc19883e6f59e6</string>
</dict>
</plist>